@font-face {
  font-family: Poppins;
  src: url("./resources/font/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("./resources/font/Poppins-Bold.ttf");
}

@media only screen and (max-width: 600px) {
  body {
    font-family: Poppins, sans-serif;
    font-style: normal;
    margin: 0;
  }

  .popup-open {
    overflow: hidden;
  }

  html {
    background: #e5e5e5;
  }

  header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    background: white;
    width: 100vw;
  }

  .headline-container {
    width: 100vw;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: #6070ff9c;
    height: 100vh;
    width: 100%;
    margin: 0;
    backdrop-filter: blur(4px);
    position: absolute;
    list-style: none;
    padding: 0;
  }

  .nav-links li {
    padding-top: 20px;
    padding-left: 30px;
  }

  .nav-links a {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-decoration: none;
    color: white;
  }

  .nav-links img {
    width: 4%;
    padding-left: 88%;
    padding-top: 20px;
  }

  .brand {
    font-family: Poppins-Bold, sans-serif;
    flex-shrink: 3;
    max-height: 5%;
    max-width: 20%;
    padding-top: 2%;
    margin-bottom: 0;
    padding-left: 5%;
    text-decoration: none;
    color: #6070ff;
  }

  .nav {
    max-width: 40px;
    padding-left: 65%;
    padding-top: 4%;
  }

  article {
    display: flex;
    min-height: 600px;
    max-height: 630px;
    flex-direction: column;
    background-color: white;
    border-bottom-left-radius: 50px;
    background-image: url("./resources/images/header-shapes\ mobilebackground-Main.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .item2 {
    padding-top: 5vh;
  }

  .item3 {
    height: 40vh;
    border-bottom-left-radius: 20%;
  }

  .title {
    font-family: Poppins-Bold, sans-serif;
    font-weight: 700;
    font-size: 30px;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    color: #172b4d;
    padding-left: 24px;
    padding-top: 30px;
    margin-bottom: 20px;
  }

  .presentation {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
    margin-right: 24px;
    margin-top: 0;
    padding-left: 24px;
  }

  .presentation2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
    margin-right: 24px;
    margin-top: 0;
    padding-left: 24px;
  }

  .connection {
    padding-left: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    text-decoration: none;
  }

  .connection2 {
    font-family: Poppins, sans-serif;
    padding-left: 10vw;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    text-decoration: none;
  }

  .span {
    display: flex;
    justify-content: left;
    list-style: none;
    padding-left: 1%;
    padding-right: 10vw;
  }

  .header-menu {
    display: none;
  }

  .color {
    color: #000 !important;
  }

  .dot {
    padding-left: 15px;
    width: 10px;
    height: 10px;
  }

  .span2 {
    display: flex;
    justify-content: left;
    list-style: none;
    padding-left: 1%;
    padding-right: 10vw;
    margin-bottom: 0;
  }

  .social-media {
    margin-left: 26px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50vw));
    grid-auto-rows: 670px;
    margin-bottom: 20%;
  }

  .styled-modal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .styled-modal img {
    width: 5%;
    height: 5%;
  }

  .grid-card {
    padding-bottom: 20px;
    background-color: #fff;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    border: 3px solid #dfe1e6;
  }

  .grid-card-type2 {
    padding-bottom: 20px;
    background-color: #fff;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    border: 3px solid #dfe1e6;
  }

  .grid-card-type2 p {
    padding-left: 25px;
    font-size: 15px;
    font-weight: 400;
  }

  .desktop-version {
    display: flex;
    flex-direction: column;
  }

  .modal {
    height: 80vh;
    width: 80vw;
    border: 3px white;
    border-radius: 15px;
  }

  .modal::backdrop {
    background: #d5d8ebb6;
    height: 100vh;
    width: 100%;
    margin: 0;
    backdrop-filter: blur(2px);
  }

  .span-grid {
    display: flex;
    justify-content: left;
    list-style: none;
    padding-left: 5px;
    margin-bottom: 10px;
  }

  h2 {
    margin: 0;
    justify-self: left;
  }

  .general-titles {
    font-family: Poppins-Bold, sans-serif;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 32px;
    line-height: 44px;
  }

  .grid-card p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding-left: 25px;
    margin-bottom: 30;
    margin-top: 5px;
  }

  .grid-images {
    max-width: 90%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
  }

  .button-modal {
    font-family: Poppins, sans-serif;
    width: 130px;
    height: 50px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    border-color: #396df2;
    background-color: #fff;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .button-project {
    font-family: Poppins, sans-serif;
    width: 130px;
    height: 50px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    border-color: #396df2;
    background-color: #fff;
    margin-left: 25px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .button-project:hover {
    font-family: Poppins, sans-serif;
    background-color: #6070ff;
    color: #fff;
    border: 0;
  }

  .button-project:active {
    background-color: #2230d2;
    color: white;
  }

  .button-project:disabled {
    background-color: white;
    color: #5e6c84;
    border: 2px solid #5e6c84;
  }

  .footer-container {
    margin-top: 50px;
    background-color: #fff;
    border-top-right-radius: 50px;
    margin-bottom: 0;
  }

  .footer-container h2 {
    font-family: Poppins-Bold, sans-serif;
    font-weight: 700;
    font-size: 30px;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    color: #172b4d;
    padding-left: 24px;
    padding-top: 30px;
    margin-bottom: 20px;
  }

  .button-footer {
    font-family: Poppins, sans-serif;
    width: 150px;
    height: 50px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    border-color: #396df2;
    background-color: #fff;
    margin-left: 25px;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .list-work {
    width: 80%;
    border-right-width: 20%;
    list-style: none;
    padding-bottom: 25px;
  }

  .list-work-li {
    font-family: Poppins-bold, sans-serif;
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
    padding-top: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    place-content: space-between;
  }

  .box-arrow {
    margin-right: 25px;
  }

  .in-list-work {
    padding-left: 10px;
    height: 200px;
  }

  /* ------------------------------------------------------------------------------------------ */

  .span-grid2 {
    height: 24px;
    list-style: none;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .span-grid2 li {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 15px;
    margin-top: 0;
    color: #031bf0;
    font-family: Poppins-bold, sans-serif;
    opacity: 0.5;
    font-size: 13px;
    line-height: 25px;
    background-color: #d4d4ff;
    border-radius: 8px;
  }

  .span-grid li {
    color: #7a869a;
    margin-left: 20px;
    margin-top: 0;
    font-family: Poppins-bold, sans-serif;
    opacity: 0.5;
    font-size: 13px;
    line-height: 16px;
  }

  .span-grid3 {
    background-color: #f7f7f9;
    border-radius: 5px;
    margin-bottom: 10px;
    line-height: 65px;
    display: flex;
    justify-content: left;
    list-style: none;
    padding-bottom: 0;
    height: 60px;
  }

  .img-languages {
    padding-top: 8px;
    width: 45px;
    height: 45px;
  }

  .form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 70px;
    background: #6070ff;
    color: white;
    padding-top: 40px;
    margin-bottom: 0;
    min-height: 80vh;
    background-image: url("./resources/work-section/images/contact\ form\ shapes-mobile@2x.png");
    background-size: 207px;
    background-position: right 30px;
    background-repeat: no-repeat;
  }

  .title-form {
    padding-top: 70px;
    font-family: Poppins-bold, sans-serif;
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .subtitle-form {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .form-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 90vw;
    padding-left: 20px;
  }

  .form-ul li {
    padding-top: 20px;
  }

  .form-ul input {
    color: #172b4d;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    border: 1px solid #cfd8dc;
    background-color: #fff;
    width: 85vw;
    height: 5vh;
  }

  .form-ul textarea {
    color: #b3bac5;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    border: 1px solid #cfd8dc;
    background-color: #fff;
    width: 85vw;
    height: 20vh;
  }

  .form-ul button {
    margin-top: 15px;
    color: #172b4d;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    border: 1px solid #cfd8dc;
    background-color: #fff;
    width: 27vw;
    height: 5vh;
  }

  .form-ul button:hover {
    font-family: Poppins, sans-serif;
    background-color: #6070ff;
    color: #fff;
    border: 1px solid white;
  }

  .form-ul button:active {
    background-color: #2230d2;
    color: white;
    border: 1px solid white;
  }

  .form-ul button:disabled {
    background-color: white;
    color: #5e6c84;
    border: 1px solid #5e6c84;
  }
}

@media only screen and (min-width: 768px) {
  html {
    background: #e5e5e5;
  }

  .body {
    margin: 0;
    width: 100vw;
  }

  .popup-open {
    overflow: hidden;
  }

  .title {
    font-family: Poppins-Bold, sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: black;
    padding-left: 10vw;
    animation-duration: 4s;
    animation-name: appear;
  }

  @keyframes appear {
    0% {
      color: white;
    }

    100% {
      color: black;
    }
  }

  .nav-links {
    display: none;
  }

  .styled-modal img {
    width: 15px;
    height: 15px;
  }

  .header {
    display: flex;
    background: white;
    width: 100vw;
    justify-content: space-between;
  }

  .container-img-m {
    width: 100%;
    height: auto;
  }

  .container-img-m img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  .button-modal img {
    vertical-align: text-top;
  }

  .header nav img {
    display: none;
  }

  .header-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 50vw;
    padding-top: 20px;
  }

  .header-menu li a {
    font-family: Poppins, sans-serif;
    color: #344563;
    font-weight: 500;
    font-size: 15px;
    padding-left: 40px;
    text-decoration: none;
  }

  .brand {
    font-family: Poppins-Bold, sans-serif;
    max-height: 5%;
    width: 90px;
    padding-top: 2vh;
    margin-bottom: 0;
    padding-left: 5%;
    text-decoration: none;
    color: #6070ff;
  }

  .headline-container {
    display: flex;
    flex-direction: column;
    height: 916px;
    width: 100vw;
    background-image: url("./resources/Desktop-version/images/Header\ bg@2x.png");
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;
    background-color: white;
    border-bottom-left-radius: 15%;
  }

  .article {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .item2 {
    padding-top: 30vh;
  }

  .item3 {
    min-height: 30vh;
    border-bottom-left-radius: 20%;
  }

  .presentation {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-left: 10vw;
    padding-right: 22vw;
    animation-name: appear;
    animation-duration: 4s;
  }

  .connection {
    font-family: Poppins, sans-serif;
    padding-left: 10%;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    text-decoration: none;
  }

  .connection2 {
    font-family: Poppins, sans-serif;
    padding-left: 20%;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    text-decoration: none;
  }

  .color {
    color: #000 !important;
  }

  .dot {
    padding-left: 15px;
    width: 10px;
    height: 10px;
  }

  .span2 {
    display: flex;
    justify-content: left;
    list-style: none;
    padding-left: 8.5%;
    margin-bottom: 0;
  }

  .social-media {
    margin-left: 26px;
  }

  .work-section {
    margin-bottom: 10%;
  }

  .grid-container {
    display: grid;
    gap: 50px;
    margin-right: 250px;
    margin-left: 250px;
    grid-template-columns: repeat(auto-fill, minmax(50vw));
  }

  .grid-card {
    padding-bottom: 20px;
    background-color: #fff;
    margin-top: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    border: 3px solid #dfe1e6;
    min-width: 30%;
    min-height: 30%;
  }

  .modal {
    border: 2px rgba(255, 255, 255, 0.521);
    width: 80%;
    border-radius: 15px;
    height: 80%;
  }

  .modal::backdrop {
    background: #a7a7a79c;
    backdrop-filter: blur(2px);
  }

  .styled-modal {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  h2 {
    margin: 0;
  }

  .tech-links-modal div {
    display: flex;
    flex-direction: row;
    align-content: center;
  }

  .styled-modal h2 {
    padding-left: 20px;
    font-family: Poppins-Bold, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  #img-modal {
    width: 100%;
    height: auto;
  }

  .modal-desktop-info {
    display: flex;
    flex-direction: row;
  }

  .modal-desktop-info p {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    padding-right: 10px;
  }

  .span-grid-modal {
    display: flex;
    height: 24px;
    list-style: none;
    padding-left: 10px;
  }

  .span-grid-modal li {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-top: 0;
    color: #031bf0;
    font-family: Poppins-bold, sans-serif;
    opacity: 0.5;
    line-height: 25px;
    background-color: #d4d4ff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
  }

  .grey-bar {
    justify-content: center;
    padding-bottom: 8px;
  }

  .grey-bar div {
    background-color: #ebecf0;
    width: 92%;
    height: 2px;
    border-radius: 5%;
  }

  .button-modal {
    font-family: Poppins, sans-serif;
    width: 130px;
    height: 50px;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #396df2;
    border-color: #396df2;
    background-color: #fff;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .text-button {
    vertical-align: text-bottom;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border: none;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  .tech-links-modal {
    display: flex;
    flex-direction: column;
  }

  .desktop-version {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .grid-card-type2 {
    padding-bottom: 20px;
    background-color: #fff;
    margin-top: 75px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    border: 3px solid #dfe1e6;
    min-width: 30%;
    min-height: 30%;
  }

  .grid-card-type2 .Desktop-version p {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding-left: 25px;
    margin-right: 30px;
    margin-bottom: 30;
    margin-top: 5px;
  }

  .span-grid {
    display: flex;
    justify-content: left;
    list-style: none;
    padding-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: baseline;
  }

  .general-titles {
    font-family: Poppins-Bold, sans-serif;
    margin-left: 25px;
    margin-top: 10px;
    font-size: clamp(1.5em, 2.5em, 4em);
    line-height: 52px;
  }

  .grid-card .Desktop-version p {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    padding-left: 25px;
    margin-right: 20px;
    margin-bottom: 30;
    margin-top: 5px;
    font-size: 16px;
    line-height: 24px;
  }

  .grid-images {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    min-width: 20%;
    min-height: 20%;
    animation-duration: 4s;
  }

  @keyframes imag-appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .span-grid2 li {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-top: 0;
    color: #031bf0;
    font-family: Poppins-bold, sans-serif;
    opacity: 0.5;
    line-height: 25px;
    background-color: #d4d4ff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
  }

  .button-project {
    font-family: Poppins, sans-serif;
    width: 130px;
    height: 50px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    border-color: #396df2;
    background-color: #fff;
    margin-left: 25px;
    border-radius: 10px;
    margin-bottom: 10%;
  }

  .button-project:hover {
    font-family: Poppins, sans-serif;
    background-color: #6070ff;
    color: #fff;
    border: 0;
  }

  .button-project:active {
    background-color: #2230d2;
    color: white;
  }

  .button-project:disabled {
    background-color: white;
    color: #5e6c84;
    border: 2px solid #5e6c84;
  }

  .footer-container {
    margin-top: 50px;
    background-color: #fff;
    border-top-right-radius: 10%;
    margin-bottom: 0;
  }

  .first-part-footer {
    display: flex;
    flex-direction: row;
    padding-top: 8%;
    width: 100vw;
  }

  .span {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 16%;
  }

  .about-myself {
    display: flex;
    flex-direction: column;
    width: 50vw;
  }

  .about-myself h2 {
    padding-left: 20%;
    font-family: Poppins-Bold, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    color: #172b4d;
    padding-top: 30px;
    margin-bottom: 20px;
  }

  .skills-work {
    display: flex;
    flex-direction: column;
  }

  .presentation2 {
    font-family: Poppins, sans-serif;
    padding-left: 20%;
  }

  .button-footer {
    font-family: Poppins, sans-serif;
    width: 150px;
    height: 50px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    border-color: #396df2;
    background-color: #fff;
    margin-left: 19%;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .button-footer:hover {
    font-family: Poppins, sans-serif;
    background-color: #6070ff;
    color: #fff;
    border: 0;
  }

  .button-footer:active {
    background-color: #2230d2;
    color: white;
  }

  .button-footer:disabled {
    background-color: white;
    color: #5e6c84;
    border: 2px solid #5e6c84;
  }

  .list-work {
    width: 45vw;
    list-style: none;
    padding-bottom: 25px;
  }

  hr {
    max-width: 45vw;
    margin-right: 10%;
  }

  .list-work-li {
    font-family: Poppins-bold, sans-serif;
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
    padding-top: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    place-content: space-between;
  }

  .in-list-work {
    padding-left: 10px;
    height: 200px;
    display: flex;
    flex-direction: row;
  }

  .span-grid2 {
    display: flex;
    height: 24px;
    list-style: none;
    padding-left: 15px;
  }

  .span-grid li {
    color: #7a869a;
    margin-left: 20px;
    margin-top: 0;
    font-family: Poppins-bold, sans-serif;
    opacity: 0.5;
    font-weight: 500;
    font-size: clamp(0.5em, 1.1em, 2em);
    line-height: 24px;
  }

  .span-grid3 {
    background-color: #f7f7f9;
    font-family: Poppins, sans-serif;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-bottom: 0;
    height: 60%;
    width: 20%;
    margin-right: 20px;
  }

  .img-languages {
    padding-left: 10px;
    padding-bottom: 15px;
    width: 45px;
    height: 45px;
  }

  .form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 70px;
    background: #6070ff;
    color: white;
    padding-top: 40px;
    margin-bottom: 0;
    min-height: 80vh;
    background-image: url("./resources/Desktop-version/images/contact\ form\ background\ shapes@2x.png");
    background-size: 85%;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .title-form {
    padding-top: 70px;
    font-family: Poppins-bold, sans-serif;
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .subtitle-form {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-left: 31vw;
    margin-right: 31vw;
  }

  .form-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 30vw;
    padding-left: 20px;
  }

  .form-ul li {
    padding-top: 20px;
  }

  .form-ul input {
    color: #172b4d;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    border: 1px solid #cfd8dc;
    background-color: #fff;
    width: 30vw;
    height: 5vh;
  }

  .form-ul input::placeholder {
    color: #031bf0;
  }

  .form-ul textarea {
    color: black;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    border: 1px solid #cfd8dc;
    background-color: #fff;
    width: 30vw;
    height: 20vh;
  }

  .form-ul textarea::placeholder {
    color: #031bf0;
  }

  .form-ul button {
    margin-top: 15px;
    color: #6070ff;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    border: 1px solid #cfd8dc;
    background-color: #fff;
    width: 8vw;
    height: 5vh;
    margin-left: 35%;
  }

  .form-ul button:hover {
    font-family: Poppins, sans-serif;
    background-color: #6070ff;
    color: #fff;
    border: 1px solid white;
  }

  .form-ul button:active {
    background-color: #2230d2;
    color: white;
    border: 1px solid white;
  }

  .form-ul button:disabled {
    background-color: white;
    color: #5e6c84;
    border: 1px solid #5e6c84;
  }

  .box-arrow {
    margin-right: 75px;
  }
}